.Theme1{
  /*#### Backgrounds #### */
--clr-bg-main : hsl(222, 26%, 31%);
--clr-bg-toggle-keypad : hsl(223, 31%, 20%);
--clr-bg-screen : hsl(224, 36%, 15%);

/* #### Keys #### */
--clr-keys-reset-bg : hsl(225, 21%, 49%);
--clr-keys-reset-shadow : hsl(224, 28%, 35%);

--clr-keys-equals-bg : hsl(6, 63%, 50%);
--clr-keys-equals-shadow : hsl(6, 70%, 34%);

--clr-keys-primary-bg : hsl(30, 25%, 89%);
--clr-keys-primary-shadow : hsl(28, 16%, 65%);


/* #### Text #### */
--clr-text-primary : hsl(221, 14%, 31%);
--clr-text-secondary : white;
--clr-text-white : white;
}

.Theme2{
    /*#### Backgrounds #### */
--clr-bg-main : hsl(0, 0%, 90%);
--clr-bg-toggle-keypad : hsl(0, 5%, 81%);
--clr-bg-screen : hsl(0, 0%, 93%);

/* #### Keys #### */
--clr-keys-reset-bg : hsl(185, 42%, 37%);
--clr-keys-reset-shadow : hsl(185, 58%, 25%);

--clr-keys-equals-bg : hsl(25, 98%, 40%);
--clr-keys-equals-shadow : hsl(25, 99%, 27%);

--clr-keys-primary-bg : hsl(45, 7%, 89%);
--clr-keys-primary-shadow : hsl(35, 11%, 61%);


/* #### Text #### */
--clr-text-primary : hsl(60, 10%, 19%);
--clr-text-secondary : white;
--clr-text-white : white;

}

.Theme3{
/*#### Backgrounds #### */
--clr-bg-main : hsl(268, 75%, 9%);
--clr-bg-toggle-keypad : hsl(268, 71%, 12%);
--clr-bg-screen : hsl(268, 71%, 12%);

/* #### Keys #### */
--clr-keys-reset-bg : hsl(281, 89%, 26%);
--clr-keys-reset-shadow : hsl(285, 91%, 52%);

--clr-keys-equals-bg : hsl(176, 100%, 44%);
--clr-keys-equals-shadow : hsl(177, 92%, 70%);

--clr-keys-primary-bg : hsl(268, 47%, 21%);
--clr-keys-primary-shadow : hsl(290, 70%, 36%);


/* #### Text #### */
--clr-text-primary : hsl(52, 100%, 62%);
--clr-text-secondary : hsl(198, 20%, 13%);
--clr-text-white : white;
}

.AppContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-bg-main);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: auto;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35em;
  background-color: var(--clr-keys-primary-bg);
  font-size: 1.8em;
  cursor: pointer;
}