.screen{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: var(--clr-bg-screen);
    font-size: 1.3em;
    margin-bottom: 1.5em;
    padding: 1.2em 1em;
    border-radius: 0.5em;
    height: 4em;
    overflow-y: hidden;
    white-space: nowrap
}